body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Fondo negro */
    color: #32CD32; /* Texto verde amigable a la vista */
    overflow: hidden;
}

.container {
    width: 45%; /* Ancho del contenedor */
    background-color: #222; /* Fondo gris oscuro */
    color: white; /* Texto blanco */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Espacio entre los contenedores */
}

#datetime {
    font-size: 3.5em; /* Tamaño más grande para la fecha y hora */
    margin-bottom: 20px;
	font-weight: bold;
}

h1 {
    font-size: 3.5em; /* Tamaño más grande para el título */
}

#timer {
    margin: 20px 0;
}

#time {
    font-size: 4em; /* Tamaño más grande para el temporizador */
    font-weight: bold;
}

#timer-controls button,
#timer-options button {
    font-size: 2em; /* Tamaño más grande para los botones */
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#timer-controls button:hover,
#timer-options button:hover {
    background-color: #0056b3;
}

.day-of-week {
    font-size: 0.5em; /* Corresponde al día de la semana */
    margin-bottom: 10px;
}

h1#infinitive {
    font-size: 2em; /* Corresponde al verbo en infinitivo */
    margin: 10px 0;
}

.time-tense {
    margin: 40px 0;
}

h2 {
    font-size: 2em; /* Corresponde al título del tiempo verbal */
    margin: 10px 0;
}

div[id="conjugations"] {
    font-size: 1.5em; /* Corresponde a las conjugaciones verbales */
    line-height: 1.5em;
}

@media (max-width: 768px) {
    .container {
        width: 100%; /* Ancho completo en pantallas pequeñas */
    }
}
